*
!*/
!*.*

--debug=localhost
.vscode
.env
.firebaserc
.github
demos
credentials.json
credentials*
*cover*
testdata
node_modules
yarn.lock
package-lock.json
*/**.go
docs
.github
go.mod
go.sum
*/**.yml
.prettierrc